
/* global */
* {
    box-sizing: border-box;
    text-align: center;
}

header {
    background-color: white;
    height: 90px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    /*font-size: 30px;*/
    line-height: 80px;
    background-color: #ffffff;
}

.normal-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.name-tab {
    font-size: 32px;
    line-height: 90px;
    width: 210px;
    float: left;

    background-color: #4aaaa5;
    width: 230px;
    float: left;
    height: 80px;
    margin: 10px 460px 0px 80px;
    text-align: center;
}

nav {
    float: left;
    font-size: 20px;
    background-color: white;
    width: 270px;
    height: 80px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
}

#content-container {
    margin: 0;
    padding-top: 40px;
}

#content-container::after {
    display: block;
    content: "";
    clear: both;
}

#content-main {
    float: left;
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 40px;
    padding: 30px;
    background-color: white;
    width: 648px;
    border: solid;
    border-width: 1px;
    /* made this a little darker than specified (#dddddd) since my background is darker */
    border-color: #cccccc;
}
.main-hr {
    border: none;
    height: 3px;
    background-color: #ddd;
}

#main-heading {
    font-size: 32px;
    padding-bottom: 10px;
    text-align: left;
    color: #4aaaa5;
}

.profile-pic {
    float: left;
}

.sidebar {
    margin: 0;
    background-color: white;
    color: #4aaaa5;
    width: 270px;
    float: left;
    padding: 28px;
    border: solid;
    border-width: 1px;
    border-color: #cccccc; /* made this a little darker than specified since my background is darker */
}

.sidebar h3 {
    text-align: left;
}
.sidebar-hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

#sidebar-heading {
    text-align: left;
    font-size: 26px;
    padding-bottom: 10px;
    color: #4aaaa5;
}
.sidebar-img {
    float: left;
    height: 70px;
    width: 70px;
}

.sidebar-fill {
    clear: both;
    height: 30px;
}

.contact-form {
    display: block;
    text-align: left;
    width: 100%;
}

.contact-input {
    width: 100%;
    text-align: left;
}
.message-text {
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -88px;
}

.image-tag-container {
    padding-bottom: 20px;
    position: relative;
}

.image-tag-container-left {
    float: left;
}

.image-tag-container-right {
    float: right;
}
.image-tag-left {
    float: left;
    position: absolute;
    left: 0px;
    top: 125px;
    width: 100%;
    height: 60px;
    line-height: 100%;
    z-index: 1000;
    background-color: #4aaaa5;
    padding: 5px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 60px;
}

.image-tag-right {
    float: right;
    position: absolute;
    left: 0px;
    top: 125px;
    width: 100%;
    height: 60px;
    line-height: 100%;
    z-index: 1000;
    background-color: #4aaaa5;
    padding: 5px;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 60px;
}

.footer {
    height: 80px;
}

footer {
    background-color: #666666;
    border-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    line-height: 80px;
    font-size: 20px;
    color: #777777;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
